{% extends "core/base.html" %}

{% block content %}

    <h1 class="text-3xl text-center">Créditos das Fotos utilizadas nesta página</h1>
    <p>
        <ul class="p-10 text-blue-800">
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/duas-cadeiras-acolchoadas-de-cores-sortidas-perto-da-mesa-lateral-1350789/">Foto de ERIC MUFASA</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/sofa-secional-de-tecido-preto-perto-da-janela-de-vidro-276583/">Foto de Pixabay</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/sofa-bege-de-3-lugares-276528/">Foto de Pixabay</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/poltrona-marrom-e-branca-1148955/">Foto de EVG Kowalievska</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/mesa-de-jantar-simples-1813502/">Foto de Lina Kivaka</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/fotografia-de-mesa-e-cadeiras-perto-de-plantas-827518/">Foto de Valeria Boltneva</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/tabua-de-madeira-marrom-branca-e-azul-245208/">Foto de ATBO</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/placas-brancas-na-mesa-238377/">Foto de Marianne</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/cobertura-de-cama-branca-perto-da-parede-279746/">Foto de Pixabay</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/cadeira-e-mesa-de-escritorio-1957477/">Foto de Lisa Fotios</a></li>
            <li class="hover:text-purple-500"><a href="https://www.pexels.com/pt-br/foto/banco-de-madeira-marrom-130987/">Foto de Mike Bird</a></li>
        </ul>
    </p>

{% endblock content %}